.home-link>span.site-name {
	color: dimgray !important;
	font-weight: normal !important;
    font-size: 24px !important;
}
.home-link>img.logo {
    width: 50px !important;
    height: auto !important;
    margin: -6px 6px 0 0 !important;
}
// https://github.com/vuejs/vuepress/issues/2215
.content__default:not(.custom) {
  max-width: 740px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}