.home-link>span.site-name {
	display: inline !important;
	font-weight: normal !important;
    font-size: 24px !important;
}
.home-link>img.logo {
    width: 50px !important;
    height: auto !important;
    margin: -6px 6px 0 0 !important;
}