.span-friend {
	background: lightblue;
	color: white;
	padding: 2px 8px;
	border-radius: 4px;
}
.span-group {
	background: orange;
	color: white;
	padding: 2px 8px;
	border-radius: 4px;
}
.span-admin {
	background: mediumseagreen;
	color: white;
	padding: 2px 8px;
	border-radius: 4px;
}
.main-logo {
	width: 300px;
	margin-left: calc(50% - 150px);
    margin-top: 70px;
}